@using App.Models;
@model IEnumerable<Department>

@{
    ViewBag.Title = "Department-List";
}

<h2>Department List</h2>

<div>
<ul>
   @foreach( Department department in @Model)
     {
     <li>
                @Html.ActionLink(department.Name, "Index", "Employee", new { departmentId = department.id }, null )
     </li>

     }
</ul>
</div>

