
@{
    ViewBag.Title = "Countries in ";
}

@*
    <h2>Index</h2>
    <p>hello everyone!</p>
*@


<ul>
    @foreach (string strCountry in ViewBag.Countries)
    {
        <li>@strCountry</li>

    }

</ul>
